<main class="main">

  <div class="form form--post" data-verb="">
    <%= form_for :post, url: posts_path do |f| %>
      <div class="form__triangle"></div>
      <div class="form__bg"></div>
      <%= f.hidden_field :verb, :class => "form__verb" %>
      <%= f.text_area :body, :class => "form__body", :placeholder => "Tell us what you're thinking..." %>
      <%= f.submit "Post", :class => "form__submit" %>
    <% end %>
  </div>

  <div class="posts">
    <%- for post in @posts do %>

      <div class="post post--<%= post.verb %> post--<%= post.id %>">
        <div class="post__triangle">
        </div>
        <div class="post__face">
          <% case post.verb
               when "anger" %>
            <%= render :partial => 'partials/faces/anger', :locals => {:size => 'small'} %>
            <% when "fear" %>
            <%= render :partial => 'partials/faces/fear', :locals => {:size => 'small'} %>
            <% when "sadness" %>
            <%= render :partial => 'partials/faces/sadness', :locals => {:size => 'small'} %>
            <% when "surprise" %>
            <%= render :partial => 'partials/faces/surprise', :locals => {:size => 'small'} %>
            <% when "disgust" %>
            <%= render :partial => 'partials/faces/disgust', :locals => {:size => 'small'} %>
            <% when "happiness" %>
            <%= render :partial => 'partials/faces/happiness', :locals => {:size => 'small'} %>
            <% when "contempt" %>
            <%= render :partial => 'partials/faces/contempt', :locals => {:size => 'small'} %>
          <% end %>
        </div>
        <div class="post__voting">
          <a class="vote vote--up" href="#" data-vote="1">
            <%= render :partial => 'partials/voting/up' %>
            <span class="vote__count">47</span>
          </a>
          <a class="vote vote--down" href="#" data-vote="2">
            <%= render :partial => 'partials/voting/down' %>
            <span class="vote__count">2416</span>
          </a>
        </div>
        <div class="post__body">
          <%= post.body %>
        </div>
        <img class="post__image" src="http://placekitten.com/300/200" />
        <div class="post__info">
          <%= image_tag "flags_png/us.png", :class => "post__flag" %>
          <span class="post__country">USA</span>
          <span class="post__timestamp"><%= time_ago_in_words(post.created_at) %> ago</span>
        </div>
        <div class="post__share share">
          <ul class="share__list">
            <li class="share__item share__item--twitter">
              <a class="share__link" href="#" target="_blank">
                <span class="share__icon icon-twitter"></span>
              </a>
            </li>
            <li class="share__item share__item--facebook">
              <a class="share__link" href="#" target="_blank">
                <span class="share__icon icon-facebook"></span>
              </a>
            </li>
            <li class="share__item share__item--email">
              <a class="share__link" href="#" target="_blank">
                <span class="share__icon icon-email"></span>
              </a>
            </li>
            <li class="share__item share__item--report">
              <a class="share__link" href="#" target="_blank">
                <span class="share__copy">Report</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="post__comments comments">
          <div class="comments__link">
            Comments <span class="comments__count">(231)</span>
          </div>
          <div class="comments__form form form--comment">
            <%= form_for :post, url: posts_path do |f| %>
              <%= f.hidden_field :verb, :class => "form__verb" %>
              <%= f.text_area :body, :class => "form__body", :placeholder => "Comment" %>
              <div class="form__faces">
                <!--<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                <%= render :partial => 'partials/faces/anger', :locals => {:size => 'normal'} %>
                <%= render :partial => 'partials/faces/fear', :locals => {:size => 'normal'} %>
                <%= render :partial => 'partials/faces/sadness', :locals => {:size => 'normal'} %>
                <%= render :partial => 'partials/faces/surprise', :locals => {:size => 'normal'} %>
                <%= render :partial => 'partials/faces/disgust', :locals => {:size => 'normal'} %>
                <%= render :partial => 'partials/faces/happiness', :locals => {:size => 'normal'} %>
                <%= render :partial => 'partials/faces/contempt', :locals => {:size => 'normal'} %>
              </div>
              <%= f.submit "Post", :class => "form__submit" %>
            <% end %>
          </div>
          <div class="comments__listing">
            <%- for comment in post.comments do %>
              <div class="comment">
                <div class="comment__emotion">
                <% case comment.emotion
                     when "anger" %>
                  <%= render :partial => 'partials/faces/anger', :locals => {:size => 'small'} %>
                  <% when "fear" %>
                  <%= render :partial => 'partials/faces/fear', :locals => {:size => 'small'} %>
                  <% when "sadness" %>
                  <%= render :partial => 'partials/faces/sadness', :locals => {:size => 'small'} %>
                  <% when "surprise" %>
                  <%= render :partial => 'partials/faces/surprise', :locals => {:size => 'small'} %>
                  <% when "disgust" %>
                  <%= render :partial => 'partials/faces/disgust', :locals => {:size => 'small'} %>
                  <% when "happiness" %>
                  <%= render :partial => 'partials/faces/happiness', :locals => {:size => 'small'} %>
                  <% when "contempt" %>
                  <%= render :partial => 'partials/faces/contempt', :locals => {:size => 'small'} %>
                <% end %>
                </div>
                <div class="comment__content">
                  <div class="comment__body">
                    <%= comment.body %>
                  </div>
                  <div class="comment__info">
                    <%= image_tag "flags_png/us.png", :class => "comment__flag" %>
                    <span class="comment__country">USA</span>
                    <span class="comment__timestamp"><%= time_ago_in_words(comment.created_at) unless comment.created_at.blank? %> ago</span>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>

</main>
