<div class="body">
  <div class="form form--post" data-verb="">
    <%= form_for :post, url: posts_path do |f| %>
      <div class="form__triangle"></div>
      <%= f.hidden_field :verb, :class => "form__verb" %>
      <%= f.text_area :body, :class => "form__body", :placeholder => "yo" %>
      <%= f.submit "Post", :class => "form__submit" %>
    <% end %>
  </div>
  <div class="posts">
    <%- for post in @posts do %>
      <div class="post">
        <%= post.body %>
        <%= post.verb %>
      </div>
    <% end %>
  </div>
</div>
