<main class="main">

  <div class="form form--post" data-verb="">
    <%= form_for :post, url: posts_path do |f| %>
      <div class="form__triangle"></div>
      <div class="form__bg"></div>
      <%= f.hidden_field :verb, :class => "form__verb" %>
      <%= f.text_area :body, :class => "form__body", :placeholder => "Tell us what you're thinking..." %>
      <%= f.submit "Post", :class => "form__submit" %>
    <% end %>
  </div>

  <div class="posts">
    <%- for post in @posts do %>

      <div class="post post--<%= post.verb %>">
        <div class="post__triangle">
        </div>
        <div class="post__face">
          <% case post.verb
               when "anger" %>
            <%= render :partial => 'partials/faces/anger', :locals => {:size => 'small'} %>
            <% when "fear" %>
            <%= render :partial => 'partials/faces/fear', :locals => {:size => 'small'} %>
            <% when "sadness" %>
            <%= render :partial => 'partials/faces/sadness', :locals => {:size => 'small'} %>
            <% when "surprise" %>
            <%= render :partial => 'partials/faces/surprise', :locals => {:size => 'small'} %>
            <% when "disgust" %>
            <%= render :partial => 'partials/faces/disgust', :locals => {:size => 'small'} %>
            <% when "happiness" %>
            <%= render :partial => 'partials/faces/happiness', :locals => {:size => 'small'} %>
            <% when "contempt" %>
            <%= render :partial => 'partials/faces/contempt', :locals => {:size => 'small'} %>
          <% end %>
        </div>
        <div class="post__body">
          <%= post.body %>
        </div>
        <%= post.verb %>
      </div>

    <% end %>
  </div>

</main>
