<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">

    <title>Tribes</title>

    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6991832/789262/css/fonts.css" />

    <%= stylesheet_link_tag 'application.css', :media => 'all' %>
    <%= javascript_include_tag 'application.js' %>
    <%= csrf_meta_tag %>
  </head>
  <body class="page" data-verb="">
    <header class="header">
      <div class="faces">
        <%= render :partial => 'partials/faces/anger', :locals => {:size => 'normal'} %>
        <%= render :partial => 'partials/faces/fear', :locals => {:size => 'normal'} %>
        <%= render :partial => 'partials/faces/sadness', :locals => {:size => 'normal'} %>
        <%= render :partial => 'partials/faces/surprise', :locals => {:size => 'normal'} %>
        <%= render :partial => 'partials/faces/disgust', :locals => {:size => 'normal'} %>
        <%= render :partial => 'partials/faces/happiness', :locals => {:size => 'normal'} %>
        <%= render :partial => 'partials/faces/contempt', :locals => {:size => 'normal'} %>
      </div>
    </header>
    <%== yield %>
    <div class="overlay"></div>
    <div class="feature"></div>
  </body>
</html>
